
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #1E88E5;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply antialiased text-[var(--foreground)] bg-[var(--background)];
}
